@model Vacations.Models.RequestForEmployeeViewModel
@{
    string url = "https://teamresponse418storage.blob.core.windows.net/photos/";
}
@using (Html.BeginForm("CreateRequestForEmployeePartial", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "modalForm" }))
{
    @Html.Hidden("EmployeeID", Model.EmployeeID)
    <div class="modal-content bg-dark" style="color:gray; border:solid gray 1px;">
        <div class="modal-header form-header bg-global" style="color:white; border-bottom:solid gray 1px !important;height:50px; vertical-align:middle;">
            <div class="modal-title" id="ModalTitle">Vacation request</div>
        </div>
        <div class="modal-body pb-0" style="margin:10px;">
            <div class="form-group">
                <div style="overflow: hidden">
                    <div style="float: left;">
                        <img src="@string.Format($"{url}{Model.EmployeeID}.jpg")" class="rounded-circle profilePhoto" style="object-fit: cover;padding-left:5px;" />
                    </div>
                    <div class="float-right" style="padding-right:200px;">
                        <p style="color:white !important">@Html.DisplayFor(m => m.EmployeeName)</p>
                        <div>
                            <p style="color:white !important">  @Html.DisplayFor(m => m.JobTitle)</p>
                        </div>
                        <div>
                            <p style="color:white !important">@Html.DisplayFor(m => m.TeamName) @Html.DisplayFor(m => m.TeamLeadName)</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-ms-12">
                    <ul class="list-unstyled zebra">
                        <li> <label for="vacationTypeSelect">vacation type</label></li>
                        @Html.DropDownList("VacationTypesSelectList", null, null, new { @class = "form-control bg-dark border-grey colorWhite" })
                    </ul>
                </div>
                <div class="col-6 col-ms-12">
                    <ul class="list-unstyled zebra">
                        <li>@Html.LabelFor(m => m.DateOfBegin, new { @class = "control-label" }) @Html.ValidationMessageFor(m => m.DateOfBegin, "", new { @class = "Denied" })</li>
                        <li>
                            <input type="date" max="3000-12-31" min="1000-01-01" class="form-control bg-dark border-grey colorWhite" id="begin" onchange="CalcDiff()" name="DateOfBegin">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-ms-12">
                    <ul class="list-unstyled zebra">
                        <li>
                            @Html.Label("comment", new { @class = "control-label" })
                        </li>
                        <li>
                            @Html.TextAreaFor(model => model.Discription, 6, 23, new { @class = "form-control bg-dark border-grey", style = "resize:none;color:white;box-shadow:none;padding:5px;" })
                        </li>
                    </ul>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-12 col-ms-12">
                            <ul class="list-unstyled zebra">
                                <li> @Html.LabelFor(m => m.DateOfEnd, new { @class = "control-label" }) @Html.ValidationMessageFor(m => m.DateOfEnd, "", new { @class = "Denied" })</li>
                                <li>
                                    <input type="date" class="form-control bg-dark border-grey colorWhite" id="end" name="DateOfEnd" onchange="CalcDiff()">
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row" style="margin-top:17px;">
                        <div class="col-4 col-xs-12">
                            <ul class="list-unstyled zebra m-0">
                                <li> <label for="among">amount</label></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="container m-0 p-0 text-light">
                                @Html.TextBoxFor(m => m.Duration, new { @class = "form-control bg-dark field-days-width border-grey colorWhite", @readonly = "readonly", @maxlength = "2", @id = "Duration", @name = "Duration", @placeholder = "XX", @style = "display:inline; max-width:46px;box-shadow:none; margin-top:6px;" }) Duration
                                @Html.ValidationMessageFor(m => m.Duration, "", new { @class = "Denied" })
                            </div>
                        </div>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-ms-12">
                    <ul class="list-unstyled zebra">
                        <li>
                            <input data-dismiss="modal" style="width:120px;text-align:center" class="float-right form-control bg-dark button-cancel border-grey" value="CANCEL" />
                        </li>
                    </ul>
                </div>
                <div class="col-6 bg-dark">
                    <ul class="list-unstyled zebra">
                        <li>
                            <input type="submit" onclick="DisableOnClick()" class="form-control bg-dark button-done border-grey bt-gradient" style="height:40px !important; padding-top:5px;" id="Done" value="DONE" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
    <script>
        $.validator.unobtrusive.parse("#modalForm");
        function DisableOnClick(s) {
            setTimeout(function () {
                jQuery('#Done').attr('disabled', true);
            }, 100);
            setTimeout(function () {
                jQuery('#Done').attr('disabled', false);
            }, 2000);
        }
    </script>
