@model Vacations.Models.EmployeeViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var dateBirth = DateTime.UtcNow.ToString("yyyy-MM-dd");
    var dateHire = DateTime.UtcNow.ToString("yyyy-MM-dd");
}

@using (Html.BeginForm("Register", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container m-0 py-3">
        <form style="color:white;">
            <div class="container pb-5 text-light-grey">
                <div class="row">
                    <div class="container-fluid border border-bottom-0 border-grey container-rounded-top bg-global text-white p-2 py-2">
                        <strong >Add New Employee</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 border border-bottom-0 border-grey  bg-dark pt-1">
                        <div class="form-group container">
                            <div class="row m-auto my-auto">
                                <div class="float-left my-auto">
                                    <img src="~/Content/Icons/user profile icon.svg" id="imgProfile" class="m-auto rounded-circle profilePhoto" style="object-fit: cover;margin:20px;"/>
                                </div>
                                <div class="fileinputs">
                                    <input type="file" class="file" id="inputFile" style="opacity:0; width:120px !important; height:40px !important;margin-top:25px; margin-left:60px" name="photo" />
                                    <div class="fakefile" style="margin-top:25px; padding-right:15px; margin-left:50px;">
                                        <button class="my-auto m-1 button-add-photo ml-2" style="width:120px !important;">Add photo</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 border-top border-grey  bg-dark pt-1">
                        <div class="form-group container">
                            @Html.LabelFor(m => m.BirthDate, new { @class = "control-label " })
                            @Html.ValidationMessageFor(m => m.BirthDate, "", new { @class = "Denied" })
                            <input class="form-control bg-dark border-grey colorWhite" type="date" id="datepicker" name="BirthDate" value="@dateBirth">
                        </div>
                    </div>
                    <div class="col-4 border-right border-top border-grey   bg-dark pt-1">
                        <div class="form-group container">
                            <label>role</label>
                            @Html.DropDownList("aspNetRolesSelectList", null, null, new { @class = "form-control bg-dark border-grey colorWhite" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4  border-left border-right  border-grey  bg-dark">
                        <div class="form-group container">
                            @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "Denied" })
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control bg-dark border-grey colorWhite", placeholder = "Enter Name", autocomplete = "off" })
                        </div>
                    </div>
                    <div class="col-4  bg-dark ">
                        <div class="form-group container">
                            @Html.LabelFor(m => m.PersonalMail, new { @class = "control-label" })
                            @Html.ValidationMessageFor(m => m.PersonalMail, "", new { @class = "Denied" })
                            @Html.TextBoxFor(m => m.PersonalMail, new { @class = "form-control bg-dark border-grey colorWhite simple-form inputOutline", placeholder = "example@mail.com", autocomplete = "off", @required = "true" })
                        </div>
                    </div>
                    <div class="col-4 border-right  border-grey   bg-dark ">
                        <div class="form-group container">
                            @Html.LabelFor(m => m.WorkEmail, new { @class = " control-label" })
                            @Html.ValidationMessageFor(m => m.WorkEmail, "", new { @class = "Denied" })
                            @Html.TextBoxFor(m => m.WorkEmail, new { @class = "form-control bg-dark border-grey colorWhite simple-form", placeholder = "example@softheme.com", autocomplete = "off", @required = "true" })
                        </div>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 border-left border-right border-grey  bg-dark " >
                        <div class="form-group container">
                            @Html.LabelFor(m => m.Surname, new { @class = "control-label", })
                            @Html.ValidationMessageFor(m => m.Surname, "", new { @class = "Denied" })
                            @Html.TextBoxFor(m => m.Surname, new { @class = "form-control bg-dark border-grey colorWhite", placeholder = "Enter Surname", autocomplete = "off" })
                        </div>
                    </div>
                    <div class="col-4  bg-dark">
                        <div class="form-group container">
                            @Html.LabelFor(m => m.PhoneNumber, new { @class = " control-label" })
                            @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "Denied" })
                            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control bg-dark border-grey colorWhite", autocomplete = "off", id = "phonenumber", placeholder = "xxx xxx xxxx" })
                        </div>
                    </div>
                    <div class="col-4 border-right border-grey   bg-dark">
                        <div class="form-group container">
                            @Html.LabelFor(m => m.Skype, new { @class = " control-label" })
                            @Html.ValidationMessageFor(m => m.Skype, "", new { @class = "Denied" })
                            @Html.TextBoxFor(m => m.Skype, new { @class = "form-control bg-dark border-grey colorWhite", placeholder = "userskype", autocomplete = "off" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 border-left border-right border-grey  bg-dark ">
                        <div class="form-group container">
                            @Html.LabelFor(m => m.JobTitleID, new { @class = "control-label" })
                            @Html.DropDownList("jobTitlesSelectList", null, null, new { @class = "form-control bg-dark border-grey colorWhite" })
                        </div>
                    </div>
                    <div class="col-4  bg-dark">
                        <div class="form-group container">
                            @Html.LabelFor(m => m.HireDate, new { @class = "control-label" })
                            @Html.ValidationMessageFor(m => m.HireDate, "", new { @class = "Denied" })
                            <input class="form-control bg-dark border-grey colorWhite" type="date" id="datepicker" required name="HireDate" value="@dateHire">
                        </div>
                    </div>
                    <div class="col-4 border-right border-grey   bg-dark ">
                        <div class="form-group container">
                            @Html.LabelFor(m => m.DateOfDismissal, new { @class = " control-label" })
                            <input class="form-control bg-dark border-grey" type="date" id="datepicker" name="DateOfDismissal">
                        </div>
                    </div>
                </div>
                <div class="row  ">
                    <div class="col-4 border-left border-right border-grey  bg-dark ">
                        <div class="form-group container">
                            @Html.LabelFor(m => m.Status, new { @class = "control-label" })
                            @Html.DropDownList("statusSelectList", null, null, new { @class = "form-control bg-dark border-grey colorWhite", placeholder = "Not Chosen" })
                        </div>
                    </div>
                    <div class="col-4  bg-dark">
                        <div class="form-group container">
                        </div>
                    </div>
                    <div class="col-4 border-right border-grey   bg-dark ">
                        <div class="form-group container">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 border border-top-0 border-bottom-rounded-left border-grey  bg-dark ">
                        <div class="form-group container">
                            @Html.LabelFor(m => m.VacationBalance, new { @class = "control-label" })
                            @Html.ValidationMessageFor(m => m.VacationBalance, "", new { @class = "Denied"})
                            @Html.TextBoxFor(m => m.VacationBalance, new { @class = "form-control bg-dark border-grey colorWhite", placeholder = "Balance", autocomplete = "off" })
                        </div>
                    </div>

                    <div class="col-4 border-bottom border-grey  bg-dark">
                        <div class="form-group container ">
                            @Html.Label("temp", new { @class = "control-label invisible" })
                            <input onclick="window.history.back()" class="form-control bg-dark button-cancel border-grey" style="cursor:pointer;text-align:center" value="CANCEL" />
                        </div>
                    </div>
                    <div class="col-4 border-right border-bottom border-bottom-rounded-right border-grey   bg-dark ">
                        <div class="form-group container">
                            @Html.Label("temp", new { @class = "control-label invisible" })
                            <input type="submit" onclick="DisableOnClick()" class="form-control bg-dark button-done border-grey bt-gradient" id="Done" style="cursor:pointer;height:40px !important; padding-top:5px;" value="DONE" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Content/dist/jquery-input-mask-phone-number.js")
    <script>     
        $(function () {
            $('#phonenumber').usPhoneFormat({
                format: '(xxx) xxx-xxxx'
            });
        })
        $(function () {
            $("#inputFile").change(function () {
                readURL(this);
            });
        });
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgProfile').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
        function DisableOnClick() {
            setTimeout(function () {
                jQuery('#Done').attr('disabled', true);
            }, 100);
            setTimeout(function () {
                jQuery('#Done').attr('disabled', false);
            }, 1500);
        }
    </script>
}