<div class="left-menu bg-dark " style="background-color:#2e2e2e!important  ">
    <div class="conatiner bg-left-menu " >
        <div class="container p-0 underline nav-item">
            @Html.ActionLink("Add New Employee", "Index", "Home", new { @class = "nav-link active  left-menu-element backColor " })
        </div>
        <div class="container  p-0 underline nav-item">
            @Html.ActionLink("Add New Team", "Index", "Home", new { @class = "nav-link left-menu-element backColor" })
        </div>
        <div class="container p-0 underline nav-item">
            @Html.ActionLink("Voacation Request", "Index", "Home", new { @class = "nav-link   left-menu-element backColor" })
        </div>
        <div class="container  p-0 underline nav-item">
            @Html.ActionLink("Add New Employee", "Index", "Home", new { @class = "nav-link  left-menu-element backColor" })
        </div>
        <div class="container p-0 underline nav-item">
            @Html.ActionLink("Add New Employee", "Index", "Home", new { @class = "nav-link left-menu-element backColor" })
        </div>
    </div>
    
</div>
