@model Vacations.Models.ProfileVacationsViewModel[]
<div class="container m-0 p-0 ">
    <div class="container container-rounded m-0 p-0" style="border: 2px solid #757575 !important;">
        <div class="row m-auto text-white">
            <div class="container-fluid bg-dark" style="border-bottom:solid 1px gray">
                <strong>My Vacations</strong>
            </div>

        </div>
        <table class="table text-white m-0 p-0 backColor " style="font-size:15px; border-top:none;">
            @if (Model.Length == 0)
            {
            <tr style="color:#dcdcdc">
                <td style="border-top:none">No vacations found</td>
                <th style="border-top:none"></th>
                <td style="border-top:none"></td>
                <td style="border-top:none"></td>
                <td style="border-top:none"></td>
                <td style="border-top:none"></td>
            </tr>
            }
            else
            {
            <tr class="text-light-grey border-grey" style="font-size:12px; border-bottom:solid 1px gray !important;">
                <th style="border-top:none"></th>
                <td style="border-top:none">vacation dates</td>
                <td style="border-top:none">description</td>
                <td style="border-top:none">status</td>
                <td style="border-top:none">vacation balance</td>
            </tr>


                foreach (var vacation in Model)
                {
            <tr>
                <th style="border-top:none"></th>
                <td style="border-top:none">@Html.DisplayFor(x => vacation.DateOfBegin) - @Html.DisplayFor(x => vacation.DateOfEnd)</td>
                <td style="border-top:none">@vacation.VacationType</td>
                <td style="border-top:none" class="@vacation.VacationStatusType">@vacation.VacationStatusType</td>
                <td style="text-align:center;border-top:none; padding-right:55px;">@vacation.Duration</td>
            </tr>
                }
            }


        </table>
    </div>
</div>


