@using Microsoft.AspNet.Identity
@model Vacations.Models.ProfileViewModel
<div class="container  bg-dark border border-grey container-rounded backColor" >
    <div class="row my-auto">
        <div class="col-8">
            <div class="text-light m-auto my-auto">My Profile</div>
        </div>
        @if (User.IsInRole("Administrator"))
        {
            <div class="col-4 my-auto">
                
                <a href="@Url.Action("Edit","Admin", new {id = User.Identity.GetUserId()})"><img src="~/Content/Icons/edit icon grey.svg" class="float-right m-auto my-auto"/></a>
            </div>
        }
    </div>

    <div class="row border-top ">
        <div class="container">
            <div class="row m-auto" style="padding-top:20px !important;padding-bottom:20px !important">
                <div class="float-left my-auto ">
                    <img src="~/Content/Icons/user profile icon.svg" class="m-auto" style="min-width:70px;"/>
                </div>
                <div class="my-auto float-left ml-4">
                    <div class="row text-primary text-light">@($"{Model.Name} {Model.Surname}")</div>
                    <div class="row text-secondary" style="color:white;">@Model.JobTitle</div>
                    @if (@Model.Status)
                    {
                        <div class="row" style="color:white;">
                            <img src="~/Content/Icons/online icon.svg" style="padding-right: 5px">Active
                        </div>
                    }
                    else
                    {
                        <div class="row" style="color: white">
                                <img src="~/Content/Icons/offline icon.svg" style="padding-right: 5px">Fired  
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row border-top border-grey">
        <div class="container m-auto ">
            <ul class="list-unstyled my-auto list-inline-item zebra">

                <li>
                    @Html.LabelFor(x => x.BirthDate, new { style = "font-size:12px;" })
                </li>
                <li>
                    @Html.DisplayFor(x => x.BirthDate)
                </li>
                <li>
                    @Html.LabelFor(x => x.PersonalMail, new { style = "font-size:12px;" })
                </li>
                <li>
                    @Html.DisplayFor(x => x.PersonalMail)
                </li>
                <li>
                    @Html.LabelFor(x => x.WorkEmail, new { style = "font-size:12px;" })
                </li>
                <li>
                    @Html.DisplayFor(x => x.WorkEmail)
                </li>
                <li>
                    @Html.LabelFor(x => x.PhoneNumber, new { style = "font-size:12px;" })
                </li>
                <li>
                    @if (Model.PhoneNumber == null)
                    {
                        <p>+380 000 00 00</p>
                    }
                    else
                    {
                        @Html.DisplayFor(x => x.PhoneNumber)
                    }
                </li>
                <li>
                    @Html.LabelFor(x => x.Skype, new { style = "font-size:12px;" })
                </li>
                <li>
                    @Html.DisplayFor(x => x.Skype)
                </li>
                <li>
                    @Html.LabelFor(x => x.HireDate, new { style = "font-size:12px;" })
                </li>
                <li>
                    @Html.DisplayFor(x =>x.HireDate)
                </li>
                <li>
                    @Html.LabelFor(x => x.TeamName, new { style = "font-size:12px;" })
                </li>
                <li>
                    @Html.DisplayFor(x => x.TeamName)
                </li>
                <li>
                    @Html.LabelFor(x => x.TeamLeader, new { style = "font-size:12px;" })
                </li>
                <li>
                    @Html.DisplayFor(x =>x.TeamLeader)
                </li>
            </ul>
        </div>

    </div>
</div>
