@model IdentitySample.Models.ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@Styles.Render("~/Content/Styles/bootstrap.css")
@Styles.Render("~/Content/Styles/loginStyles.css")
@Styles.Render("~/Content/Styles/forgotPasswordStyles.css")
<div class="container center " id="fontBody">
    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Code)

        <img src="~/Content/Icons/logo-softheme.svg" />
        <p class="logo"><strong>SOFTHEME</strong> VACATIONS</p>
        <p class="message">Enter and confirm new password to reset</p>
        <div class="input_icon">
            <i class="icon-user"></i>
            <input type="text" style="border: none; box-shadow: none;" class="form-control loginInput" placeholder="email" autocomplete="off" name="Email">
        </div>
        <div class="input_icon" style="margin-top:30px;">
            <i class="icon-key"></i>
            <input type="password" style="border: none; box-shadow: none;" class="form-control loginInput" placeholder="password" name="Password">
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "Denied" })
        </div>
        <div class="input_icon" style="margin-top:30px;">
            <i class="icon-key"></i>
            <input type="password" style="border: none; box-shadow: none;" class="form-control loginInput" placeholder="confirm password" name="ConfirmPassword">
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "Denied" })
        </div>

        <button type="submit" class="btn btn-block login">RESET</button>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

