@if (User.IsInRole("Administrator") || User.IsInRole("TeamLeader"))
{
<div class="left-menu bg-dark">
    <div class="conatiner bg-left-menu bg-global">
        @if (User.IsInRole("Administrator"))
        {
            <div class="container p-0 underline nav-item">
                <a class="nav-link active  left-menu-element bg-dark" href="@Url.Action("Register","Admin")">Add New Employee</a>
            </div>
            <div class="container  p-0 underline nav-item">
                <a class="nav-link active  left-menu-element bg-dark" href="@Url.Action("RegisterTeam","Admin")">Add New Team</a>
            </div>
            <div class="container p-0 underline nav-item">
                <a class="nav-link active  left-menu-element bg-dark" href="@Url.Action("Requests","Admin")">Vacation Requests@*<span class="badge badge-secondary">2</span>*@</a>
            </div>
            <div class="container p-0  nav-item underline">
                <a class="nav-link active  left-menu-element bg-dark" href="@Url.Action("EmployeesList","Admin")">List of Employees</a>
            </div>
            <div class="container p-0  nav-item underline">
                <a class="nav-link active  left-menu-element bg-dark" href="@Url.Action("TeamsList","Admin")">List of Teams</a>
            </div>
        }
        else if (User.IsInRole("TeamLeader"))
        {
            <div class="container p-0  nav-item underline">
                <a class="nav-link active  left-menu-element bg-dark" href="@Url.Action("Requests","TeamLeader")">Vacation Requests</a>
            </div>
            <div class="container p-0  nav-item underline">
                <a class="nav-link active  left-menu-element bg-dark" href="@Url.Action("EmployeesList","TeamLeader")">List of Employees</a>
            </div>
            <div class="container p-0  nav-item underline">
                <a class="nav-link active  left-menu-element bg-dark" href="@Url.Action("TeamsList","TeamLeader")">List of Teams</a>
            </div>
        }

    </div>
</div>

}
