@model Vacations.Models.EmployeeViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var status = ViewData["Status"];
    var role = ViewData["Role"];
    var jobTitle = ViewData["JobTitle"];
    string url = "https://teamresponse418storage.blob.core.windows.net/photos/";
}
<div class="container m-0 py-3">
    <form style="color:white;">
        <div class="container pb-5 text-light-grey">
            <div class="row">
                <div class="container-fluid border border-bottom-0 border-grey container-rounded-top bg-global text-white p-2 py-2">
                    <strong>Employee Profile</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-4 border border-bottom-0 border-grey  bg-dark pt-1">            
                        <div class="form-group">
                                <div style="float: left;">
                                    <img src="@string.Format($"{url}{Model.EmployeeID}.jpg")" class="m-auto rounded-circle profilePhoto" />
                                </div>
                                <div class="float-right" style="padding-right:100px; margin-top:20px;">
                                    <p style="color:white !important">@Html.DisplayFor(m => m.Name)</p>
                                    <div>
                                        <p style="color:white !important">  @Html.DisplayFor(m => m.Surname)</p>
                                    </div>  
                              </div>        
                    </div>
                </div>
                <div class="col-4 border-top border-grey  bg-dark pt-1">
                    <div class="form-group container" style="margin-top:20px;">
                        @Html.LabelFor(m => m.BirthDate, new { @class = "control-label " })
                        <input class="form-control bg-dark border-grey colorWhite" type="date" disabled style = "border:none; color:white; padding:0", id="datepickerBirthDate" name="BirthDate" value="@Model.BirthDate.ToString("yyyy-MM-dd")">
                    </div>
                </div>
                <div class="col-4 border-right border-top border-grey   bg-dark pt-1">
                    <div class="form-group container" style="margin-top:20px;">
                        <label>role</label>
                        @Html.Label(role.ToString(), new { @class = "form-control bg-dark border-grey colorWhite", id = "phonenumber", style = "border:none; color:white; padding:0", @disabled="true", placeholder = "xxx xxx xxxx" })

                    </div>
                </div>
            </div>
            <div class="row">
                <!--2-->
                <div class="col-4  border-left border-right  border-grey  bg-dark">
                    <div class="form-group container" style="margin-top:20px;">
                        @Html.LabelFor(m => m.JobTitleID)
                        @Html.Label(jobTitle.ToString(), new { @class = "form-control bg-dark border-grey colorWhite", id = "phonenumber", style = "border:none; color:white; padding:0", @disabled="true", placeholder = "xxx xxx xxxx" })
                    </div>
                </div>

                <div class="col-4  bg-dark ">
                    <div class="form-group container" style="margin-top:20px;">
                        @Html.LabelFor(m => m.PersonalMail)
                        @Html.TextBoxFor(m => m.PersonalMail, new { @class = "form-control bg-dark border-grey colorWhite",style = "border:none; color:white; padding:0",@disabled="true", placeholder = "example@mail.com" })
                    </div>

                </div>
                <div class="col-4 border-right  border-grey   bg-dark ">
                    <div class="form-group container" style="margin-top:20px;">
                        @Html.LabelFor(m => m.WorkEmail, new { @class = " control-label" })
                        @Html.TextBoxFor(m => m.WorkEmail, new { @class = "form-control bg-dark border-grey colorWhite",style = "border:none; color:white; padding:0", @disabled="true", placeholder = "example@softheme.com" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 border-left border-right border-grey  bg-dark ">
                    <div class="form-group container" style="margin-top:20px;" ">
                        @Html.LabelFor(m => m.Status)
                        @Html.Label(status.ToString(), new { @class = "form-control bg-dark border-grey colorWhite", id = "phonenumber", style = "border:none; color:white; padding:0", @disabled="true", placeholder = "xxx xxx xxxx" })
                    </div>
                </div>
                <div class="col-4  bg-dark">
                    <div class="form-group container" style="margin-top:20px;">
                        @Html.LabelFor(m => m.PhoneNumber, new { @class = " control-label" })
                        @Html.Label(Model.PhoneNumber, new { @class = "form-control bg-dark border-grey colorWhite", id = "phonenumber",style = "border:none; color:white; padding:0", @disabled="true", placeholder = "xxx xxx xxxx" })
                    </div>
                </div>
                <div class="col-4 border-right border-grey   bg-dark">
                    <div class="form-group container" style="margin-top:20px;">
                        @Html.LabelFor(m => m.Skype, new { @class = " control-label" })
                        @Html.TextBoxFor(Model => Model.Skype, new { @class = "form-control bg-dark border-grey colorWhite", placeholder = "userskype", style = "border:none; color:white; padding:0", @disabled = "true" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 border-left border-right border-grey  bg-dark ">
                    <div class="form-group container" style="margin-top:20px;">
                         @Html.LabelFor(m => m.VacationBalance)
                         @Html.Label(Model.VacationBalance.ToString(), new { @class = "form-control bg-dark border-grey", placeholder = "Vacation Balance", style = "border:none; color:white; padding:0", @disabled="true" })
                    </div>
                </div>
                <div class="col-4  bg-dark">    
                    <div class="form-group container" style="margin-top:20px;">
                        @Html.LabelFor(m => m.HireDate)
                        <input class="form-control bg-dark border-grey colorWhite" type="date" id="datepickerHireDate" disabled style = "border:none; color:white; padding:0",  name="HireDate" value="@Model.HireDate.ToString("yyyy-MM-dd")">
                    </div>
                </div>
                <div class="col-4 border-right border-grey   bg-dark ">
                    <div class="form-group container" style="margin-top:20px;">
                        @Html.LabelFor(m => m.DateOfDismissal, new { @class = " control-label" })
                        @if (Model.DateOfDismissal != null)
                        {
                            <input class="form-control bg-dark border-grey colorWhite" type="date" id="datepickerDateOfDismissal" disabled style="border:none; color:white; padding:0" name="DateOfDismissal" value="@Model.DateOfDismissal" />
                        }
                        else
                        {
                            @Html.Label("None", new { @class = "form-control bg-dark border-grey", style = "border:none; color:white; padding:0", @disabled="true"})
                        }
                    </div>
                </div>
            </div>
            <div class="row  ">
                <div class="col-12 border-left border-right border-grey  bg-dark ">                   
                </div>            
            </div>
            <div class="row">
                <div class="col-4 border border-top-0 border-bottom-rounded-left border-grey  bg-dark ">
                    <div class="form-group container" style="margin-top:20px;">                   
                    </div>
                </div>

                <div class="col-4 border-bottom border-grey  bg-dark">
                    <div class="form-group container ">
                    </div>
                </div>
                <div class="col-4 border-right border-bottom border-bottom-rounded-right border-grey   bg-dark ">
                    <div class="form-group container">
                        @Html.Label("", new { @class = "control-label invisible" })
                        <input onclick="window.history.back()" type="button" class="form-control bg-dark button-done border-grey bt-gradient" style="height:40px !important; padding-top:5px; cursor:pointer" value="DONE" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    <script>
        function Back() {
            window.history.back();
        }
    </script>
}

