@using PagedList.Mvc;
@model PagedList.IPagedList<Vacations.Models.TeamListViewModel>
<div class="row">
    <div class="col-12">
        <div class="container mt-3">
            <div class="container m-0 p-0 ">
                <div class="container container-rounded m-0 p-0" style="border: 2px solid #757575 !important;">
                    <div class="row m-auto text-white">
                        <div class="container-fluid bg-dark" style="border-bottom:solid 1px gray">
                            <strong>List of Teams</strong>
                        </div>

                    </div>
                    <table class="table text-white m-0 p-0 backColor " style="font-size:15px; border-top:none;">
                        <tr class="text-light-grey border-grey" style="border-bottom: solid 1px gray !important;">
                            <th style="width:3%;border-top:none;"></th>
                            <td style="border-top: none; text-align: left">team name</td>
                            <td style="text-align: center; border-top: none">team leader</td>
                            <td style="text-align: center; border-top: none">amount of employees</td>
                            <td style="border-top: none; text-align: center"></td>
                            <td style="border-top: none; text-align: center"></td>
                        </tr>
                        @{
                            foreach (var team in Model)
                            {
                                <tr style=" border-bottom: solid 1px gray !important; height: 30px !important">
                                    <th style="width:2%;border-top:none;"></th>
                                    <td style="border-top: none; text-align: left">@team.TeamName</td>
                                    <td style="border-top: none; text-align: center">@team.TeamLeadName</td>
                                    <td style="border-top: none; text-align: center">@team.AmountOfEmployees</td>
                                    <td style="border-top: none; text-align: center">
                                        <a href="@Url.Action("ViewTeamProfile","TeamLeader", new {id = @team.TeamID})"><img src="~/Content/Icons/eye.svg" class="float-right m-auto my-auto" height="15" alt="View Team Profile" /></a>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@if ((Model.FirstItemOnPage.Equals(1) && Model.Count >= 15) || Model.FirstItemOnPage > 15)
{
    <div class="btn-group pageMenu">
        @Html.PagedListPager(Model, page => Url.Action("TeamsList", new { page }), new PagedListRenderOptions {
        DisplayLinkToFirstPage = PagedListDisplayMode.Never,
        DisplayLinkToLastPage = PagedListDisplayMode.Never,
        DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
        DisplayLinkToNextPage = PagedListDisplayMode.Always,
        DisplayEllipsesWhenNotShowingAllPageNumbers = false,
                             MaximumPageNumbersToDisplay = 3
    }))
    </div>
}